body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1e9e4;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;;
}

h1{
    font-size: 3.5;
}

h3{
    font-size: 3;
}

h2{
    font-size: 5.7vw;
}

h4{
    font-size: 4.7vw;
}

h5{
    font-size: 3;
}





.navbar {
    background-color:gray;
    color:#f1e9e4
}

footer {
    background-image: linear-gradient(#f1e9e4, white);
    padding: 30px 0;
    color: black
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: #f1e9e4;
    color: black;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}